<div class="row">
  <div class="col-12">
    <div class="autor">
      <h1 class="h1">{{post.created_by}}</h1>
    </div>
  </div>
  <div class="col-12">
    <div class="title">
      <h2 class="h2">{{post.title}}</h2>
    </div>
  </div>
  <div class="col-12">
    <div class="subtitle" *ngIf="post.sub_title">
      <h4 class="h4">{{post.sub_title}}</h4>
    </div>
  </div>
  <div class="col-12">
    <div class="content" [innerHTML]="post.content | safeHtml">
    </div>
  </div>
  <div class="col-12">
    <div class="assinatura">
      <span  translate>post.publicado</span>
      <span>{{post.created_date}}</span>
      <span translate>post.por</span>
      <span>{{post.created_by}}</span>
      <span *ngIf="post.updated_by" translate>post.actualizado</span>
    </div>
  </div>
  <div class="col-12">
    <textarea [froalaEditor] [(froalaModel)]="editorContent"></textarea>
  </div>
</div>