@import '../../styles';

.autor {
    display: block;
    text-align: center;
    background-color: $grey;
    width: 6rem;
    height: 6rem;
    padding: 1.25rem 1rem;
    border-radius: 50%;
    margin: 0 auto;
}

.autor h1 {
    color: $white;
    font-family: $font-logo;
    font-size: 5em;
    margin: 0;
    line-height: 3.5rem;
}
