<div class="row">
    <div class="col-12">
        <div class="menu">
            <ul>
                <li><a routerLink="home" routerLinkActive="active" translate>menu.blog</a></li>
                <li><a routerLink="" routerLinkActive="active" translate>menu.sobre</a></li>
                <li><a routerLink="" routerLinkActive="active" translate>menu.contactos</a></li>
                <li><a routerLink="" routerLinkActive="active" translate>menu.escritor</a></li>
                <li><a routerLink="" routerLinkActive="active" translate>menu.antigas</a></li>
            </ul>
        </div>
    </div>
    <div class="col-12"></div>
</div>
<div class="row">
    <div class="col-12">
        <div class="logo">
            <h1 translate>logo</h1>
        </div>
    </div>
</div>