@import '../../styles';

:host {
    height: 10rem;    
}

.menu ul {
    display: block;
    text-align: center;
    list-style: none;
    margin: 1.5rem 0 1rem;

}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: $black;
    padding: 2rem;
    text-transform: uppercase;
}

.menu ul li a:hover {
    color: $blue;

}

.menu ul li a.active {
    text-decoration: line-through;
    color: $blue;
}

.logo {
    font-family: $font-logo;
    text-align: center;
    margin: 1rem;
    
}

