<div class="row">
    <div class="col-12">
        <div class="menu">
            <ul>
                <li><a routerLink="home" routerLinkActive="active" translate>menu.home</a></li>
                <li><a routerLink="blog" routerLinkActive="active" translate>menu.blog</a></li>
                <li><a routerLink="sobre" routerLinkActive="active" translate>menu.sobre</a></li>
                <li><a routerLink="contactos" translate>menu.contactos</a></li>
                <li><a routerLink="escritor" translate>menu.escritor</a></li>
                <li><a (click)="logOff()" translate>menu.logoff<fa name="sign-out"></fa></a></li>
            </ul>
        </div>
    </div>
    <div class="col-12"></div>
</div>
<div class="row">
    <div class="col-12">
        <div class="logo">
            <h1 translate>logo</h1>
        </div>
    </div>
</div>
