<div class="row">
  <div class="col-12">
    <div class="title">
      <h2 class="h2" translate>sobre.sobre</h2>
    </div>
    <div class="content">
      <p>De alimentação a zoologia ou simples de água ou a zimbro, poderão ser alguns dos temas que propomos neste blog de casualidades ou se preferires meras invenções da mente.</p>
      <p>Agora a sério, de A a Z pretende explorar isso mesmo, uma panóplia de conteúdos que ainda nem nós sabemos bem quais vão ser...</p>
      <p>Mas afinal quem é o lunático ou lunáticos por detrás desta de uma ideia tão…sublime. Bem, podemos adiantar-te que somos um grupo de jovens como qualquer outro com sonhos, ambições, objetivos e acima de tudo uma mente do século XXI. E não, não vamos atrás de modas só porque agora até a avozinha que cozinha bolos tem um blog. Cada um de nós tem um estilo e diferenciador que nos caracteriza, na vida e na escrita.</p>
      <p>A verdade é que todos nós nutrimos um gosto pela escrita, tal como tu nutres por futebol, séries, filmes ou comida. Sim, nós também gostamos dessas coisas, mas com a escrita é diferente. Simplesmente moves-te sem direção mas com um caminho certo. E porque não partilhar isso com o mundo?</p>
      <p>A verdade é que todos nós nutrimos um gosto pela escrita, tal como tu nutres por futebol, séries, filmes ou comida. Sim, nós também gostamos dessas coisas, mas com a escrita é diferente. Simplesmente moves-te sem direção mas com um caminho certo. E porque não partilhar isso com o mundo?</p>
    </div>
    <div class="assinatura">
      <span>Da nossa equipa de A a Z</span>
    </div>
  </div>
</div>
