<div class="container">
  <form>
    <div class="row login">
      <div class="offset-4 col-4 form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Enter username">
      </div>
      <div class="offset-4 col-4 form-group">
        <label for="password">Password</label>
        <input type="text" id="password" class="form-control" placeholder="Enter password">
      </div>
      <div class="offset-4 col-4">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </div>
  </form>
</div>
